<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>BULIT_IN_FILTERS</h1>
    </center>
    <center>
    <!-- <h2>{{data}}</h2>
    <h4>{{data|lower}}</h4>
    <h4>{{data|upper}}</h4>
    <h4>{{data|capfirst}}</h4>
    <h4>{{data|title}}</h4>
    <h4>{{data|length}}</h4>
    <h4>{{data|truncatewords:'2'}}</h4>
    <h4>{{data|truncatechars:'5'}}</h4>
    <h4>{{data|slice:'2'}}</h4>
     <h4>{{data|truncatechars:'2'}}</h4> -->
    
     <h4>{{dt}}</h4>
     <h4>{{dt|date:'y'}}</h4>
     <h4>{{dt|date:'m'}}</h4>
     <h4>{{dt|date:'l'}}</h4>
     <h4>I Have{{c}} cat{{c|pluralize}}</h4>
     <h4>I Have{{c}} cat{{c|pluralize}}</h4>
     <h4>I Have{{c}} mango{{c|pluralize:'es'}}</h4>
     <h4>this{{c}} marker{{c|pluralize}}{{c|pluralize:'is,are'}} mine</h4>










</center>
 




</body>
</html>